@font-face {
    font-family: "Outfit";
    src:
        local("Outfit"),
        url(../assets/fonts/outfit/Outfit.woff2) format("woff2"),
        url(../assets/fonts/outfit/Outfit.woff) format("woff"),
        url(../assets/fonts/outfit/Outfit.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "YoungSerif";
    src:
        local("YoungSerif"),
        url(../assets/fonts/young-serif/YoungSerif.woff2) format("woff2"),
        url(../assets/fonts/young-serif/YoungSerif.woff) format("woff"),
        url(../assets/fonts/young-serif/YoungSerif.ttf) format("truetype");
    font-display: swap;
}

:root{
    --DarkCharcoal: hsl(24, 5%, 18%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --Nutmeg: hsl(14, 45%, 36%);
    --RoseWhite: hsl(330, 100%, 98%);
    --WengeBrown: hsl(30, 10%, 34%);
    --White: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Eggshell);
    line-height: 2;
    padding-inline: 25px;
}

h1 {
    color: var(--DarkCharcoal);
    font-family: 'YoungSerif', serif;
    font-size: 40px;
    font-weight: normal;
}

h2 {
    color: var(--Nutmeg);
    font-family: 'YoungSerif', serif;
    font-size: 25px;
    font-weight: normal;
}

.container {
    background-color: var(--White);
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 6rem auto;
    max-width: 750px;
    padding: 40px;
}

.container img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

section {
    margin-block: 15px;
}

section > p {
    color: var(--WengeBrown);
    font-family: 'Outfit';
}

.preparation {
    background-color: var(--RoseWhite);
    border-radius: 15px;
    font-family: 'Outfit';
    padding: 20px 30px;
}

.preparation h2 {
    color: var(--DarkRaspberry);
    font-size: 20px;
    font-weight: bolder;
}

ul > li, ol > li {
    color: var(--WengeBrown);
    font-family: 'Outfit';
    margin-left: 22px;
}

ol > li::marker {
    color: var(--Nutmeg);
}

ul > li > span {
    font-weight: bold;
    margin-left: 20px;
}

.ingredients span {
    font-weight: normal;
    margin-left: 15px;
}

hr {
    border-top: 1px solid var(--LightGrey);
    margin-block: 5px;
}

ol > li > span {
    font-weight: bold;
    margin-left: 5px;
}

.instructions {
    font-family: 'Outfit';
}

table {
    width: 100%;
}

td {
    border-bottom: 1px solid var(--LightGrey);
    font-family: 'Outfit';
    padding-left: 30px;
}

tr:last-child td {
    border-bottom: none;
}

tr td:first-child {
    color: var(--WengeBrown);
}

tr td:last-child {
    color: var(--Nutmeg);
    font-weight: bolder;
}

@media only screen and (max-width: 650px) {
    body {
        line-height: 1.5;
    }

    .container {
        padding: 25px;
    }
}